<h2>Posições</h2>

<div class="col-lg-8 center-block">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @positions.each do |position| %>
        <tr>
          <td><%= position.name %></td>
          <td><%= link_to 'Editar', edit_position_path(position), class: "btn-sm btn-warning" %> <%= link_to 'Remover', position, method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-sm btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '+ Nova Posição', new_position_path, class: "btn btn-success" %>
</div>
